{% extends 'base.html.twig' %}

{% block body %}
    <style>
        th {
            text-align: center;
        }

        #list {
            box-shadow: 0px 0px 15px #0004; 
            padding: 15px; 
            margin-bottom: 20px; 
            width: 70%;
        }

        .title {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>

    <div class="container" id="list">
        <h3 class="title"> {{title}} </h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="danger">
                        <th>#</th>
                        <th>Código</th>
                        <th>Leite (L)</th>
                        <th>Ração (Kg)</th>
                        <th>Peso (Kg)</th>
                        <th>Nascimento</th>
                        <th>Ações</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for cattle in cattles %}
                        <tr class="info text-center">
                            <td>{{ cattle.id }}</td>
                            <td> {{ cattle.code }} </td>
                            <td> {{ cattle.milk }} </td>
                            <td> {{ cattle.ration }} </td>
                            <td> {{ cattle.weight }} </td>
                            <td> {{ cattle.birth.format('d-m-Y') }} </td>
                            <td> <a  href="{{ path('slaughter', {id: cattle.id}) }}" class="btn btn-danger btn-sm">Abater</a> </td>  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(cattles) }}
            </div>
        </div>
    </div>
{% endblock %}